header#main-header {
    width: 100%;
    height: 60px;
    background-color: #123;
    font-size: 18px;
    font-weight: bold;
    color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
}